<div class="homeContainer">
  <div class="col-md-12">

    <div class="img-text">
      <h4 class="img-heading wow slideInLeft">Get The Best <br> Dairy
        Products</h4>
    </div>
    <div class="home-img">
      <img src="/image/bg-home.jpg" class="img-home" alt="">
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h5 class="text-center text-heading">Dairy Products</h5>
</div>
<br>
<!-- our products  -->

<div class="container mt-5 mb-5">
  <div class="col-md-12">
    <div class="row mt-4">
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/crud.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Crud</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/ghee.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Ghee</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/lassi.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Lassi</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/shreekhand.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Shreekhand</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- second product row -->
    <div class="row mt-4">
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/milk-glass.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Milk </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/paneer.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Paneer</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/kaju-peda.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Kaju Katali Sweet</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/rasgulla.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Rasgulla </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- third product row  -->
    <div class="row mt-4">
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/mithai-4-pack.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">4 Mix Pack Sweet </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/malai-peda.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Badam Peda</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/malai-peda-2.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Malai Pista Barfi</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3 mt-2">
        <div class="card box-radius">
          <div class="card-body">
            <img src="/image/product/pestry-1.jpg" alt="" class="card-img">
            <h5 class="card-text mt-2 text-center">Chocolate Pestry</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 ">
  <h5 class="text-center text-heading">Buy Online Dairy Products</h5>
</div>
<br>
<!-- Milk  product  -->
<div class="container mt-3 mb-5">
  <div class="container mt-3 mb-3 ">
    <h6 class="text-center text-primary text-heading">Buy Online Milk Products</h6>
  </div>
  <br>
  <div class="col-md-12">
    <div class="row">
      <% if (Milk.length> 0) { %>
        <% Milk.forEach(image=> { %>
          <div class="col-md-3 mt-2">
            <div class="card product-radius">
              <div class="card-box">
                <img src="uploads/<%= image.img_data %>" alt="<%= image.name %>" class="card-img">
                <div class="mx-3">
                  <h5 class="product-text mt-2">
                    <%= image.name %>
                  </h5>
                  <p class="product-text mt-1">
                    <%= image.introduction %>
                  </p>
                  <h6 class="product-text mt-1">
                    <i class="fa-solid fa-indian-rupee-sign"></i> - <%= image.price %>
                  </h6>
                </div>
                <div class="mx-auto text-center">
                  <span class="badge rounded-pill bg-primary product-text">
                    <%= image.rating %> <i class="fa-regular fa-star"></i>
                  </span>
                  <div class="btn-group mb-2" role="group" aria-label="Basic example">
                    <a href="" type="text" class="btn btn-success"><i class="fa-solid fa-basket-shopping"></i> Buy</a>
                    <a href="" type="button" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i> Add</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
            <% } else { %>
              <div class="col-md-12 mt-2">
                <div class="col-md-4 mx-auto">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">
                        No products available at the moment.
                      </p>
                    </div>
                  </div>

                </div>
                <% } %>
              </div>

    </div>
  </div>
</div>


<!-- Bakery product -->

<div class="container mt-3 mb-5">
  <div class="container mt-3 mb-3 ">
    <h6 class="text-center text-primary text-heading">Buy Online Bakery Products</h6>
  </div>
  <br>
  <div class="col-md-12">
    <div class="row">
      <% if (Bakery.length> 0) { %>
        <% Bakery.forEach(image=> { %>
          <div class="col-md-3 mt-2">
            <div class="card product-radius">
              <div class="card-box">
                <img src="uploads/<%= image.img_data %>" alt="<%= image.name %>" class="card-img">
                <div class="mx-3">
                  <h5 class="product-text mt-2">
                    <%= image.name %>
                  </h5>
                  <p class="product-text mt-1">
                    <%= image.introduction %>
                  </p>
                  <h6 class="product-text mt-1">
                    <i class="fa-solid fa-indian-rupee-sign"></i> - <%= image.price %>
                  </h6>
                </div>
                <div class="mx-auto text-center">
                  <span class="badge rounded-pill bg-primary product-text">
                    <%= image.rating %> <i class="fa-regular fa-star"></i>
                  </span>
                  <div class="btn-group mb-2" role="group" aria-label="Basic example">
                    <a href="" type="text" class="btn btn-success"><i class="fa-solid fa-basket-shopping"></i> Buy</a>
                    <a href="" type="button" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i> Add</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
            <% } else { %>
              <div class="col-md-12 mt-2">
                <div class="col-md-4 mx-auto">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">
                        No products available at the moment.
                      </p>
                    </div>
                  </div>

                </div>
                <% } %>
              </div>

    </div>
  </div>
</div>

<!-- icecreame product  -->

<div class="container mt-3 mb-5">
  <div class="container mt-3 mb-3 ">
    <h6 class="text-center text-primary text-heading">Buy Online Icecreame Products</h6>
  </div>
  <br>
  <div class="col-md-12">
    <div class="row">
      <% if (Icecreame.length> 0) { %>
        <% Icecreame.forEach(image=> { %>
          <div class="col-md-3 mt-2">
            <div class="card product-radius">
              <div class="card-box">
                <img src="uploads/<%= image.img_data %>" alt="<%= image.name %>" height="100%" class="card-img">
                <div class="mx-3">
                  <h5 class="product-text mt-2">
                    <%= image.name %>
                  </h5>
                  <p class="product-text mt-1">
                    <%= image.introduction %>
                  </p>
                  <h6 class="product-text mt-1">
                    <i class="fa-solid fa-indian-rupee-sign"></i> - <%= image.price %>
                  </h6>
                </div>
                <div class="mx-auto text-center">
                  <span class="badge rounded-pill bg-primary product-text">
                    <%= image.rating %> <i class="fa-regular fa-star"></i>
                  </span>
                  <div class="btn-group mb-2" role="group" aria-label="Basic example">
                    <a href="" type="text" class="btn btn-success"><i class="fa-solid fa-basket-shopping"></i> Buy</a>
                    <a href="" type="button" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i> Add</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
            <% } else { %>
              <div class="col-md-12 mt-2">
                <div class="col-md-4 mx-auto">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-text">
                        No products available at the moment.
                      </p>
                    </div>
                  </div>

                </div>
                <% } %>
              </div>

    </div>
  </div>
</div>