<%- include('./layout/partials/message.ejs') %>

  <div class="homeContainer">
    <div class="col-md-12">

      <div class="img-text">
        <h4 class="img-heading wow slideInLeft">Get The Best <br> Dairy
          Products</h4>
        <p class=" home-text-img">Drink one glass of milk everyday for good health.
          <br> Taste the
          goodness of
          dairy. Pure and
          water
          free milk is what we deliver. <br> The milk that makes your stronger every day.
        </p>
      </div>
      <div class="home-img">
        <img src="/image/bg-home.jpg" class="img-home" alt="">
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <h5 class="text-center text-heading">Our Products</h5>
  </div>

  <!-- our products  -->


  <div class="container mt-3 mb-5">

    <div class="col-md-12">
      <div class="row">

        <% Milk.forEach(image=> { %>
          <div class="col-md-3 mt-2">
            <div class="card box-radius">
              <div class="card-box">
                <img src="uploads/<%= image.img_data %>" alt="<%= image.name %>" class="card-img">
                <div class="mx-3">
                  <h5 class="product-text text-center mt-2">
                    <%= image.name %>
                  </h5>

                </div>
              </div>
            </div>
          </div>
          <% }); %>

      </div>

    </div>
  </div>


  <div class="container mt-5 ">
    <h5 class="text-center text-heading"> Dairy Products</h5>
  </div>
  <br>
  <!-- Milk  product  -->
  <div id="milk-product" class="container mt-3 mb-5">
    <div class="container mt-3 mb-3 ">
      <h6 class="text-center text-primary text-heading">Buy Online Milk Products</h6>
    </div>
    <br>
    <div class="col-md-12">
      <div class="row">
        <% if (Milk.length> 0) { %>
          <% Milk.forEach(image=> { %>
            <div class="col-md-3 mt-2">
              <form action="" method="post" enctype="multipart/form-data">
                <div class="card product-radius">
                  <div class="card-box">
                    <div class="form-floating">
                      <% if (image.img_data===null ) { %>
                        <input type="file" class="form-control" name="product_image" value="<%= image.product_image %>"
                          id="product_image" placeholder="Select Picture" required accept="image/*"
                          onchange="previewImage(`product_image`, `show_img`)" hidden />
                        <div class="invalid-feedback">Only allows images less than 2MB in size.</div>
                        <% } else { %>
                          <input type="file" class="form-control" name="product_image" id="product_image"
                            placeholder="Select Picture" accept="image/*" value="<%= image.product_image %>"
                            onchange="previewImage(`product_image`, `show_img`)" hidden
                            onchange="checkFileSize(this, `2MB`)" />
                          <% } %>
                    </div>
                    <img src="/uploads/<%= image.img_data %>" id="show_img" alt="<%= image.name %>" class="card-img">
                    <div class="mx-3">
                      <h5 class="product-text mt-2">
                        <input disabled type="text" value="<%= image.name %>" name="name" class="input-none">
                      </h5>
                      <p class="product-text mt-1">
                        <input disabled type="text" value=" <%= image.introduction %>" name="introduction"
                          class="input-none">
                      </p>
                      <h6 class="product-text mt-1">
                        <i class="fa-solid fa-indian-rupee-sign"></i> - <input disabled type="text"
                          value="<%= image.price %>" name="price" class="input-none">
                      </h6>
                    </div>
                    <div class="mx-auto text-center">
                      <span class="badge input-badge rounded-pill bg-primary product-text">
                        <input disabled type="text" value="<%= image.rating %>" name="rating" class="input-rating">
                        <i class="fa-regular fa-star"></i>
                      </span>
                      <div class="btn-group mb-2" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success"><i class="fa-solid fa-basket-shopping"></i>
                          Buy</button>
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>
                          Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <% }); %>
              <% } else { %>
                <div class="col-md-12 mt-2">
                  <div class="col-md-4 mx-auto">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          No products available at the moment.
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>

      </div>
    </div>
  </div>


  <!-- Bakery product -->

  <div id="bakery-product" class="container mt-3 mb-5">
    <div class="container mt-3 mb-3 ">
      <h6 class="text-center text-primary text-heading">Buy Online Bakery Products</h6>
    </div>
    <br>
    <div class="col-md-12">
      <div class="row">
        <% if (Bakery.length> 0) { %>
          <% Bakery.forEach(image=> { %>
            <div class="col-md-3 mt-2">
              <form action="" method="post" enctype="multipart/form-data">
                <div class="card product-radius">
                  <div class="card-box">
                    <div class="form-floating">

                      <input type="file" class="form-control" name="product_image" id="product_image"
                        placeholder="Select Picture" accept="image/*"
                        onchange="previewImage('product_image', 'show_img')" hidden />
                    </div>
                    <img src="/uploads/<%= image.img_data %>" id="show_img" alt="<%= image.name %>" class="card-img">
                    <div class="mx-3">
                      <h5 class="product-text mt-2">
                        <input disabled type="text" value="<%= image.name %>" name="name" class="input-none">
                      </h5>
                      <p class="product-text mt-1">
                        <input disabled type="text" value=" <%= image.introduction %>" name="introduction"
                          class="input-none">
                      </p>
                      <h6 class="product-text mt-1">
                        <i class="fa-solid fa-indian-rupee-sign"></i> - <input disabled type="text"
                          value="<%= image.price %>" name="price" class="input-none">
                      </h6>
                    </div>
                    <div class="mx-auto text-center">
                      <span class="badge input-badge rounded-pill bg-primary product-text">
                        <input disabled type="text" value="<%= image.rating %>" name="rating" class="input-rating">
                        <i class="fa-regular fa-star"></i>
                      </span>
                      <div class="btn-group mb-2" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success"><i class="fa-solid fa-basket-shopping"></i>
                          Buy</button>
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>
                          Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <% }); %>
              <% } else { %>
                <div class="col-md-12 mt-2">
                  <div class="col-md-4 mx-auto">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          No products available at the moment.
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>

      </div>
    </div>
  </div>

  <!-- icecreame product  -->

  <div id="icecreame" class="container mt-3 mb-5">
    <div class="container mt-3 mb-3 ">
      <h6 class="text-center text-primary text-heading">Buy Online Icecreame</h6>
    </div>
    <br>
    <div class="col-md-12">
      <div class="row">
        <% if (Icecreame.length> 0) { %>
          <% Icecreame.forEach(image=> { %>
            <div class="col-md-3 mt-2">
              <form action="" method="post" enctype="multipart/form-data">
                <div class="card product-radius">
                  <div class="card-box">
                    <div class="form-floating">
                      <% if (image.img_data===null ) { %>
                        <input type="file" class="form-control" name="product_image" id="product_image"
                          placeholder="Select Picture" required accept="image/*"
                          onchange="previewImage(`product_image`, `show_img`)" hidden />
                        <div class="invalid-feedback">Only allows images less than 2MB in size.</div>
                        <% } else { %>
                          <input type="file" class="form-control" name="product_image" id="product_image"
                            placeholder="Select Picture" accept="image/*"
                            onchange="previewImage(`product_image`, `show_img`)" hidden
                            onchange="checkFileSize(this, `2MB`)" />
                          <% } %>
                    </div>
                    <img src="/uploads/<%= image.img_data %>" id="show_img" alt="<%= image.name %>" class="card-img">
                    <div class="mx-3">
                      <h5 class="product-text mt-2">
                        <input disabled type="text" value="<%= image.name %>" name="name" class="input-none">
                      </h5>
                      <p class="product-text mt-1">
                        <input disabled type="text" value=" <%= image.introduction %>" name="introduction"
                          class="input-none">
                      </p>
                      <h6 class="product-text mt-1">
                        <i class="fa-solid fa-indian-rupee-sign"></i> - <input disabled type="text"
                          value="<%= image.price %>" name="price" class="input-none">
                      </h6>
                    </div>
                    <div class="mx-auto text-center">
                      <span class="badge input-badge rounded-pill bg-primary product-text">
                        <input disabled type="text" value="<%= image.rating %>" name="rating" class="input-rating">
                        <i class="fa-regular fa-star"></i>
                      </span>
                      <div class="btn-group mb-2" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success"><i class="fa-solid fa-basket-shopping"></i>
                          Buy</button>
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>
                          Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <% }); %>
              <% } else { %>
                <div class="col-md-12 mt-2">
                  <div class="col-md-4 mx-auto">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          No products available at the moment.
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>

      </div>
    </div>
  </div>

  <!-- sweets products  -->


  <div id="sweet" class="container mt-3 mb-5">
    <div class="container mt-3 mb-3 ">
      <h6 class="text-center text-primary text-heading">Buy Online Sweets</h6>
    </div>
    <br>
    <div class="col-md-12">
      <div class="row">
        <% if (Sweet.length> 0) { %>
          <% Sweet.forEach(image=> { %>
            <div class="col-md-3 mt-2">
              <form action="" method="post" enctype="multipart/form-data">
                <div class="card product-radius">
                  <div class="card-box">
                    <div class="form-floating">
                      <% if (image.img_data===null ) { %>
                        <input type="file" class="form-control" name="product_image" id="product_image"
                          placeholder="Select Picture" required accept="image/*"
                          onchange="previewImage(`product_image`, `show_img`)" hidden />
                        <div class="invalid-feedback">Only allows images less than 2MB in size.</div>
                        <% } else { %>
                          <input type="file" class="form-control" name="product_image" id="product_image"
                            placeholder="Select Picture" accept="image/*"
                            onchange="previewImage(`product_image`, `show_img`)" hidden
                            onchange="checkFileSize(this, `2MB`)" />
                          <% } %>
                    </div>
                    <img src="/uploads/<%= image.img_data %>" id="show_img" alt="<%= image.name %>" class="card-img">
                    <div class="mx-3">
                      <h5 class="product-text mt-2">
                        <input disabled type="text" value="<%= image.name %>" name="name" class="input-none">
                      </h5>
                      <p class="product-text mt-1">
                        <input disabled type="text" value=" <%= image.introduction %>" name="introduction"
                          class="input-none">
                      </p>
                      <h6 class="product-text mt-1">
                        <i class="fa-solid fa-indian-rupee-sign"></i> - <input disabled type="text"
                          value="<%= image.price %>" name="price" class="input-none">
                      </h6>
                    </div>
                    <div class="mx-auto text-center">
                      <span class="badge input-badge rounded-pill bg-primary product-text">
                        <input disabled type="text" value="<%= image.rating %>" name="rating" class="input-rating">
                        <i class="fa-regular fa-star"></i>
                      </span>
                      <div class="btn-group mb-2" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success"><i class="fa-solid fa-basket-shopping"></i>
                          Buy</button>
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>
                          Add</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <% }); %>
              <% } else { %>
                <div class="col-md-12 mt-2">
                  <div class="col-md-4 mx-auto">
                    <div class="card">
                      <div class="card-body">
                        <p class="card-text">
                          No products available at the moment.
                        </p>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>

      </div>
    </div>
  </div>